<h1>Home</h1>
<h2>Your tasks</h2>
<ul>
<% @tasks.each do |task| %>
  <li>
    <div>
      <input type="checkbox" id=<%= task.title%> name=<%= task.title%>
         <%= task.completed? ? "checked" : "" %> >
      <label for=<%= task.title%>><%= link_to task.title, task_path(task) %></label>
    </div>

  </li>
<% end %>

</ul>
