<h2>Details of the task:  <%= @task.title %></h2>
<div id="taskupdate">
  <p>
    <%= @task.details %>
  </p>
  <button type="button" class="btn btn-primary btn-sm"><%= link_to "Edit", task_edit_path(@task)  %></button>
</div>
<div id="status">
  <input type="checkbox" id=<%= @task.title%> name=<%= @task.title%>
         <%= @task.completed? ? "checked" : "" %> >
      <label for=<%= @task.title%>>
        <%= @task.completed? ? 'This task is completed' : 'This task is not yet completed' %>

      </label>
      <%= link_to "Back to list", tasks_path %>
</div>

